<!DOCTYPE html>
<html>
<head>
	<title>Angular Netflix</title>
	<link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="style.css">
	<link rel="stylesheet" href="node_modules/font-awesome/css/font-awesome.css">
</head>
<body>

<header>

<div class="container">
    <img src="img/seinfeldbanner.png"> 
      <div class="intro-heading">Search for your Favorite Films</div>
  </div>

</header>


	
	
	<div ng-app="appName">

<!-- Below: User Input Box. On click, the input is pushed into an array. -->
	<div class="angular-input">
		<div ng-controller="exercisectrl1" align="center"> 
			<input type="text" ng-model="userText">
			<button ng-click="pushToArray()">Click</button>

			<p ng-repeat="item in stuff">{{item | uppercase}}</p>
		</div>
	</div>
<!-- Printing the keys and values of an object within an array -->

	<div class="container">
	<div class="row text-center">
	<div class="col-md-4 box">
        
			<div ng-controller = "PeopleCtrl">
				<div ng-repeat="x in People | orderBy: 'name'">

    				<div class="column">
     				<div class="column-inner">

					<p>{{x.name}}</p>
					<p>{{x.description}}</p>
		
						<img src ="{{x.img}}">
						
					</div>
					</div>
			</div>
		

	</div>
	</div>
	</div>

</div>


<!-- The end of printing key-value pairs from an Angular factory :) -->


<!-- Below: The Final Closing Div for your Angular Functions -->

	</div>



<i class="fa fa-address-book-o" aria-hidden="true"></i>

<div class="container">
	<div class="row text-center">
		<div class="col-md-4 box">
			<span class="fa-stack fa-4x">
				<i class="fa fa-circle fa-stack-2x"></i>
				<i class="fa fa-shopping-cart fa-stack-1x fa-inverse"></i>
			</span>
			<h4>E-Commerce</h4>
			<p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
		</div>
	

<div class="container">
	<div class="row text-center">
		<div class="col-md-4 box">
			<span class="fa-stack fa-4x">
				<i class="fa fa-circle fa-stack-2x"></i>
				<i class="fa fa-shopping-cart fa-stack-1x fa-inverse"></i>
			</span>
			<h4>E-Commerce</h4>
			<p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
		</div>
	


<div class="container">
	<div class="row text-center">
		<div class="col-md-4 box">
			<span class="fa-stack fa-4x">
				<i class="fa fa-circle fa-stack-2x"></i>
				<i class="fa fa-shopping-cart fa-stack-1x fa-inverse"></i>
			</span>
			<h4>E-Commerce</h4>
			<p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
		</div>

<!-- Closing the 3 Divs spreading across the line		 -->
	</div>
</div>





	<script src="node_modules/angular/angular.min.js"></script>
	<script type="text/javascript" src="app.js"></script>
	<script type="text/javascript" src="exercisectrl1.js"></script>
	<script type="text/javascript" src="badNamesCtrl.js"></script>
	<script type="text/javascript" src="People.js"></script>

	
</body>
</html>